<p>Congrats! you logged on!</p>

<p>We just called mixpanel.identify("<%= current_user.email %>");</p>

<script type="text/javascript">
	mixpanel.identify("<%= current_user.email %>");
	mixpanel.people.set({"Last login":"<%= Time.now %>","$name":"<%= current_user.name %>","$email":"<%= current_user.email %>"});
	mixpanel.track("Logged on");
</script>
