<div class="index">
	
	<div class="subheading">
		<% length = @topics.length %>
		<% if length == 0 %>
			<% if logged_in? %>
				<h3>There's nothing here! Create a topic.</h3>
			<% else %>
				<h3>There's nothing here! Log in and create a topic.</h3>
			<% end %>
		<% else %>
			<h3><%= length == 1 ? "The most recent topic is:" : "The "+length.to_s+" most recent topics are:" %></h3>
		<% end %>
	</div>

	<div class="container">
		<% @topics.each do |topic|%>
		<div class="topic">
			<span class="title">
				<%= link_to topic.topic, topic %>,
			</span> 
			<span class="date">
				<%= topic.created_at.localtime.strftime("posted on %m/%d/%Y at %I:%M%p") %>
			</span>
			<span class="author">
				by <%= topic.author %>
			</span>
			<div class="body"><%= topic.body %></div>
			
			<div class="tag_wrapper">
				<div class="tags"><%= render :partial => 'tag', :collection => topic.tags.last(4) %></div>
			</div>

		</div>
		<% end %>
	</div>

	<!-- Track home page views -->
	<script type="text/javascript">
		mixpanel.track("View landing page");
	</script>
	</div>