<h1>Can Mixpanel Do It?</h1>

<div class="container">
	<div class="topic">
		<h4 class="title"><%= @topic.topic %>, created on <%= @topic.created_at %></h4>
		<div class="body"><%= @topic.body %></div>
	</div>
	<p><%= link_to 'Edit', edit_topic_path(@topic) %>
	<%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>