<h1>Can Mixpanel Do It?</h1>

<div class="container">
	<div class="topic">
		<h4 class="title"><%= @topic.topic %>, <%= @topic.created_at.localtime.strftime("posted on %m/%d/%Y at %I:%M%p") %></h4>
		<div class="body"><%= @topic.body %></div>
	</div>
	<p><%= link_to 'Edit', edit_topic_path(@topic) %>
	<%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %></p>

	<p>
	  <%= form_for(@comment) do |f| %>
	  
	  <h4><%= f.label "Post a comment" %></h4>
	  
	  <p><%= f.label :name %>*</p>
	  <p><%= f.text_field :name %></p>
	  <p><%= f.label :email %>*</p>
	  <p><%= f.text_field :email %></p>
	  <p><%= f.text_area :body %></p>
	  <p><%= f.submit "Post comment" %></p>
	  <% end %>
	</p>

	<div class="comment_wrapper">
	  <%= render :partial => 'comment', :collection => @topic.comments %>  
	</div>

</div>