<div class="title_block"><h1>Can Mixpanel Do It?</h1></div>

<ul class="nav">
	
	<%= link_to ('<li>Home</li>').html_safe, root_path %>
	
	<% if logged_in? %>
		<%= link_to ("<li>Create topic</li>").html_safe, new_topic_url %>
		<%= link_to ("<li>Log out</li>").html_safe, logout_url %>
	<% end %>

	<% if !logged_in? %>
		<%= link_to ("<li>Log in</li>").html_safe, login_url %>
		<%= link_to ("<li>Create account</li>").html_safe, new_user_url %>
	<% end %>
</ul>