<div class="title_block"><%= link_to ('<h1>Can Mixpanel Do It?</h1>').html_safe, root_path %></div>

<ul class="nav">
	
	<%= link_to ('<li id="search_nav_link">Search</li>').html_safe, "#" %>
	
	<% if logged_in? %>
		<%= link_to ("<li>Create topic</li>").html_safe, new_topic_url %>
		<%= link_to ("<li>Log out</li>").html_safe, logout_url %>
	<% end %>

	<% if !logged_in? %>
		<%= link_to ("<li>Log in</li>").html_safe, login_url %>
		<%= link_to ("<li>Create account</li>").html_safe, new_user_url %>
	<% end %>
</ul>